@font-face {
    font-family: 'Antic Didone';
    src: url('../../public/assets/fonts/AnticDidone-Regular.eot');
    src: url('../../public/assets/fonts/AnticDidone-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/assets/fonts/AnticDidone-Regular.woff2') format('woff2'),
        url('../../public/assets/fonts/AnticDidone-Regular.woff') format('woff'),
        url('../../public/assets/fonts/AnticDidone-Regular.ttf') format('truetype'),
        url('../../public/assets/fonts/AnticDidone-Regular.svg#AnticDidone-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

